.hat 
    .container
        .hat-items
            .hat-logo
                img(src='../images/logo1.avif')
            .hat-name НПЦ ПромВодОчистка
            .hat-katalog
                button.katalog-btn 
                    img(src='../images/katalog.avif')
            .hat-city
                svg
                    use(xlink:href='./images/sprite.svg#point')
                .hat-city__name нижний Новгород

            .hat-mail
                svg 
                    use(xlink:href='./images/sprite.svg#mail')
                .hat-mail__mail info+1165979@prom-water.ru

            .hat-call
                svg 
                    use(xlink:href='./images/sprite.svg#call')
                .hat-call__num +7 (831) 200-38-20
            .hat-leng
                button.hat-leng__eng.leng-btn eng
                button.hat-leng__rus.leng-btn рус